body {
  background-image: url();
}
.formulario {
  justify-items: center; 
  align-items: center;    
  margin: 30;

}

.titulo_fixado {
  background-color:rgb(255, 255, 255);
  margin: 0;
  justify-items: center;
  margin-top: 0px;
  text-align: center;
  height: 100px;
  padding: 7px;
  font-display:block;
  color: rgb(196, 14, 14);
}

button {
    
background-color:rgb(194, 78, 78);
width: 100px;
height: 50px;
}

form {
  background-color: rgb(216, 108, 108);
  height: 700px;
  width: 800px;
}
  
img {
  width:"100px";
  height:"100px";
}

nav {
  display: flex;
  justify-content: center; 
  align-items: center;    
}

#icon{
  width: 100px;
}

input, select, textarea {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
}

.video-canto {
    position: fixed;
    top: 200px;     
    left: 30px;    
    width: 370px;  
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000; 
}

.imagem-canto {
    position: fixed;
    top:220px;     
    right: 420px;    
    width: 50px;
    height: 50px;  
    border-radius: 10px;
}

.tabela {
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    padding: 20px;
}